extends layout

block content
  h1.display-1= title
  h1.display-6.mb-5 Welcome to #{title}
  if err 
    p error: #{err}
  h1.display-6 Number of categories: #{data.category_count} 
  h1.display-6 Number of products: #{data.product_count}
  p 
