extends layout

block content 
  if err 
    p #{err}
  else
    h1.display-2 #{data.productDetail.name}
    h1.display-6 ID
    p.lead #{data.productDetail._id}
    h1.display-6 Description 
    p.lead #{data.productDetail.description}
    h1.display-6 Price 
    p.lead $#{data.productDetail.price}
    h1.display-6 Number-in-stock 
    p.lead #{data.productDetail.quantity} items

    a(href=data.productDetail.url + "/update") 
      h1.display-6 Update Product
