extends layout 

block content 
  h1= title 

  form(action="", method="POST") 
    .form-group 
      if data
        label(for="name").lead Name:
        input#name.form-control.mb-3(type="text", placeholder="Product Name", name="name", value=(undefined===data.product ? '' : data.product.name))
        
        label(for="description").lead Description:
        input#description.form-control.mb-3(type="text", placeholder="Product Description", name="description", value=(undefined===data.product ? '' : data.product.description))
        
        label(for="price").lead Price:
        input#price.form-control.mb-3(type="text", placeholder="Product Price", name="price", value=(undefined===data.product ? '' : data.product.price))

        label(for="quantity").lead Quantity:
        input#quantity.form-control.mb-3(type="text", placeholder="Product Quantity", name="quantity", value=(undefined===data.product ? '' : data.product.quantity))

        label(for="category").lead Category:
        select#category.form-control.mb-3(type="select", placeholder="Select Category", name="category", required="true")
          each category in category_list 
            option(value=category._id, selected=(selected_category==category._id.toString() ? 'selected' : false)) #{category.name}

      else 
        label(for="name").lead Name:
        input#name.form-control.mb-3(type="text", placeholder="Product Name", name="name", value="")
        
        label(for="description").lead Description:
        input#description.form-control.mb-3(type="text", placeholder="Product Description", name="description", value="")
        
        label(for="price").lead Price:
        input#price.form-control.mb-3(type="text", placeholder="Product Price", name="price", value="")

        label(for="quantity").lead Quantity:
        input#quantity.form-control.mb-3(type="text", placeholder="Product Quantity", name="quantity", value="")

        label(for="category").lead Category:
        select#category.form-control.mb-3(type="select", placeholder="Select Category", name="category", required="true", value="")
          each category in category_list 
            option(value=category._id, selected=(selected_category==category._id.toString() ? 'selected' : false)) #{category.name}
      
    button.btn.btn-primary(type="submit") Submit 


  if errors 
    ul.list-group.list-group-flush
      each error in errors 
        li.text-decoration-none.alert.alert-danger #{error.msg}
    